.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.title {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.button {
  width: 128px;
  height: 56px;
  align-self: center;
}

.text {
  text-align: center;
}

.link {
  text-decoration: none;
  color: #4C4CFF;
}

.spinner {
  height: 50px;
  width: 50px;
  border: 6px solid #e056fd; align-self: center;
  border-color: #e056fd transparent #e056fd transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}