.form {
  position: relative;
  padding-top: 120px;
  overflow: hidden;
  box-sizing: border-box;
}

.buttonbox {
  display: flex;
  justify-content: flex-end;
}

.spinner {
  height: 50px;
  width: 50px;
  border: 6px solid #e056fd; align-self: center;
  border-color: #e056fd transparent #e056fd transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  position: absolute;
  left: 335px;
  bottom: 414px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}